.container {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.label {
  font-size: 50px;
  background-color: red;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5%;
}

#hasTurn {
  background-color: green;
}

#playerAnnouncer {
  font: 50px red;
}

#togglePauseButton {
  font-size: 50px;
  padding: 5px;
}